.navbar{
  
  background-color: rgb(0, 0, 0);
  display: grid;
}
header {
  background: rgb(96, 96, 241);
  position: relative;
  padding-bottom: 15px;
  max-width: 1210px;
  margin: auto;
  font-size: 17px;
  font-family: monospace;
 
  
}
header img{
  max-width: 90%;
  max-height: 300px;
  margin-top: 7px;
top: 300px;
  border: 4px dotted;
  border-color: black;
  position: sticky;
}
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}

header ul li{
  float: left;
  background-color:none;
  display: block;
  padding: 0px 10px;
  color: white;
}

.float{
  width: 75%;
   margin: 0px 20px;
  
}

header b{
  font-size: 25px;
  font-family: sans-serif;
  font-style: oblique;
  margin-left: 0px;
  
  
}
header h1{
  font-size: 50px;
  font-family: fantasy;
  color: rgb(92, 16, 16);
  font-style: italic;
  
}


.intressen{
 
    background: rgb(88, 161, 88);
    padding: 5px;
    
    max-width: 1200px;
    margin: auto;
    
  
}
h2{
  margin-left: 20px;
}


a button{
  background-color: yellow;
  color: green;
  border-radius: 10px;
  
}
a:hover{
  background-color: grey;
  
}
a:visited{
  color: blueviolet;
}
a{
  color: red;
}
section h2{
  position: static;
  color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auto-grid{
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 3rem;
  list-style-type: none;
  
  
}

li{
  font-weight: bold;
}
.grid-item1 {
  color: rgb(124, 101, 59);
  border: 1px solid;
  border-color: red;
  padding: 5px;

  text-align: left;
  
}
.grid-item2 {
  
  border: 1px solid;
  padding: 5px;
  border-color: yellow;
  text-align: left;
  
}
.grid-item3 {
  color: white;
  border: 1px solid;
  padding: 5px;
  border-color: white;
  text-align: left;
  margin-right: auto;
 
}
h3{
  text-align: center;
  color: rgb(110, 57, 57);
  border: 1px solid;
}
section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
}

body {
  
  background-color: rgb(59, 59, 59);
  
}


header img{
  max-width: 30%;
  max-height: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 4px dotted;
  border-color: black;
}

.random{
  background:rgb(124, 6, 6);
  padding: 5px;
  
  max-width: 1200px;
  margin: auto;
  

}

footer img{

  width: 100%;
  
  
  border: 2px solid;
   }

#kontakt{ 
 background-color: rgb(209, 159, 66);
    border: 4px solid;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
 
    
  }